.Page_name {
  font-family: Noto Sans KR;
  line-height: 29px;
  letter-spacing: -0.01em;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  color: #242424;
  margin-left: 5%;
  margin-top: 2%;
}
.Page_name_title {
  font-family: Noto Sans KR;
  line-height: 29px;
  letter-spacing: -0.01em;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  color: #8899a8;
  margin-left: 5%;
}
.hidden-checkbox {
  display: none; /* Hide the actual checkbox */
}

.login{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: right;
  color: #7D92A1;
}

.checkbox-label {
  cursor: pointer;
  position: relative;
  padding-left: 35px;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #e3e8ed;
  margin-left: 5px;
}

.hidden-checkbox:checked + .custom-checkbox:after {
  content: "";
  position: absolute;
  display: block;
  width: 7px;
  height: 14px;
  left: 5px;
  border: 1px solid #346ddb;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.hidden-radio {
  display: none; /* Hide the actual radio input */
}

.radio-label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  margin-right: 10px; /* Space between each radio button */
  display: inline-block;
}

.radio-label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: border-color 0.2s;
}

.radio-label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: #346DDB;
  border-radius: 50%;
  transform: translateY(-50%) scale(0);
  transition: transform 0.2s ease;
}

.hidden-radio:checked + .radio-label:after {
  transform: translateY(-50%) scale(1); /* Show the inner circle when selected */
}
.img-wrapper {
  position: relative; /* The parent container should be relative */
  display: inline-block;
  margin: 5px;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button.remove-button {
  width: 16px;
  height: 16px;
  background-color: #394956;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  padding: 0; /* Resetting any default padding */
  border: none; /* Remove default border */
  position: absolute; /* Absolute positioning */
  top: -5px; /* Positioning it slightly above the top of the image */
  right: -5px; /* Positioning it slightly to the right of the image */
  border-radius: 50%; /* Making the button round */
  line-height: 16px; /* Vertically centering the "X" text */
  text-align: center; /* Horizontally centering the "X" text */
}
.hint {
  font-size: 12px;
  font-weight: 500;
  color: #8899a8;
}
.Head {
  font-family: Noto Sans KR;
  font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: -0.01em;
text-align: left;

}
.Title {
  font-size: 14px;
  font-weight: 700;
  color: #7d92a1;
  margin-right: 5%;
}
.Total {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
  color: #346ddb;
}
.Number {
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
  color: #346ddb;
}
.detail {
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
  color: #346ddb;
 cursor: pointer;
}
.Registration {
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
  color: #346ddb;
 cursor: pointer;
}
.input {
  width: 200px;
  height: 35px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;
}
.input_detail{
  width: 100%;
  height: 500px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;
}
.input_title{
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;
}
.custom-select {
  width: 100%; /* Make the select element width 100% of its container */
  padding: 8px; /* Add padding to the select */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Add rounded corners */
  background-color: #fff; /* Set background color */
  font-size: 14px; /* Set font size */
  color: #333; /* Set text color */
  text-align: center;
}

.Detail {
  width: 100%;
  height: 65px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;

}
.dropdown {
  width: 200px;
  height: 35px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 400;
}
::placeholder {
  color: #8899a8;
}
.custom-file-label {
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #7d92a1;
  cursor: pointer;
}
.button {
  margin: 5px;
}
.button-category {
  margin: 5px;
  background-color: #FFFFFF;
  border: 1px solid #7D92A1;
  border-radius: 4px;
font-size: 12px;
font-weight: 500;
color: #7D92A1;

}
.date-input {
  width: 150px;
  height: 35px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.items_per {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #8899a8;
  width: 85px;
  height: 35px;
  border: 1px solid #e3e8ed;
  margin: 5px;
}
.management {
  width: 60px;
  text-align: center;
  color: #7d92a1;
  border: 1px solid #7d92a1;
  margin-left: 5px;
  text-align: center;
  font-family: Noto Sans KR;
font-size: 10px;
font-weight: 500;
text-align: center;

}
.Company_name {
  font-family: Noto Sans KR;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #346ddb;
}
.ID {
  font-family: Noto Sans KR;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #346ddb;
  cursor: pointer;
}
.no-underline {
  text-decoration: none;
}
.Member_name {
  font-family: Noto Sans KR;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #346ddb;
}
.Business_status {
  font-family: Noto Sans KR;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: #1AA5A2;
  border-radius: 25px;
  border: 2px solid #1AA5A2;
}
.Division {
  font-family: Noto Sans KR;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  border-radius: 25px;
  background-color: #346DDB;
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Noto Sans KR;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.custom-table th {
  background-color: #f5f8fa;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
.custom-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
.row {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  width: 50px;
}
.col_Break {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  width: auto;
}

.input-col input {
  width: 100px;
  padding: 5px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
.textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 8px 10px;
  font-size: 13px;
}
.exposure {
   width: 42px;
 font-family: Noto Sans KR;
  font-size: 10px;
  font-weight: 500;
  color: #1AA5A2;
  border-radius: 25px;
  border: 2px solid #1AA5A2;
}

.hiding {
  width: 42px;
  font-family: Noto Sans KR;
   font-size: 10px;
   font-weight: 500;
   color: red;
   border-radius: 25px;
   border: 2px solid red;
}
.Store_entry {
  font-family: Noto Sans KR;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  width: 42px;
  border-radius: 25px;
  background-color: #394956;
  border: 2px solid #394956;
}

.Not_in_store {
  font-family: Noto Sans KR;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: #7D92A1;
  width: 42px;
  border-radius: 25px;
  border: 2px solid #E3E8ED;
  background-color: #E3E8ED;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  background-color: #f3f4f7;
  border-radius: 10px;
  height: 53px;
  border: 1px solid #e3e8ed;
}
.list-image {
  width: 35px;
  height: 35px;
  margin-left: 20px;
  margin-right: 10px;
}
.item {
  font-size: 14px;
  font-weight: 700;
  margin: 15px;
}
.box {
  margin: 5px;
  background-color: #ffffff;
  border: 1px solid #7d92a1;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  width: 45px;
  height: 36px;
  text-align: center;
  padding: 6px;
}
.BTN-Save{
  border: 1px solid #346DDB;
  color: #346DDB;
  
}